html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D0D0D0;
}

.main-content--wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.content-article {
    background-color: white;
    padding: 20px 40px 40px 40px;
    margin-top: 50px;
}

.content-article--text {
    color: #555;
}

.content-article--text p, .content-display--image, .main--footer p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
}

.button {
    width: 130px;
    margin-right: 16px;
    text-align: center;
    display: inline-block;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    padding: 20px;

}

.btn-red {
    background-color: #C80A1C;
}

.btn-blue {
    background-color: #498BD9;
}

.content-display--image {
    width: 100%;
    background-color: #49494A;
    text-align: center;
    padding: 300px 0;
    color: white;
    font-size: 50px;
    margin-top: 20px;
    font-weight: 300;
}

.main--footer {
    width: 100%;
    padding: 40px 0;
    background-color: #333;
    margin-top: 50px;
    text-align: right;
}

.footer--content {
    width: 80%;
    margin: 0 auto;
}

.main--footer p {
    display: inline;
    color: #ddd;
    margin-left: 50px;
    font-size: 30px;
}